<section class="container">
    <div class="container mt-5">
        {{!-- Exibição das mensagens flash de sucesso --}}
        {{#if sucess_msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{sucess_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>
    <div class="row my-2">
        {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible fade show col-md-6 mx-auto" role="alert">
            {{error_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>
        {{!-- Fim das mensagens flash de sucesso --}}
    <section class="container">
        <!-- Cabeçalho -->
        <section class="d-flex justify-content-between mt-4">
            <h2>Página inicial de Livros</h2>
            <a href="/livros/create" class="btn btn-primary">Cadastrar novo Livro</a>
        </section>

        <hr>

        <!-- Lista de Livros -->
        <section class="container my-4">
            <div class="row">
                {{#each dados}}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">Título: {{dataValues.titulo}}</h5>
                            <p class="card-text"><strong>ID:</strong> {{dataValues.id}}</p>
                            <p class="card-text"><strong>Ano de Publicação:</strong> {{dataValues.ano_publicacao}}</p>
                            <div class="d-flex justify-content-between">
                                <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>

                {{>modalDelete idItem = dataValues.id}}

                {{/each}}
            </div>
        </section>
    </section>
</section>
